<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.nk2">
    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.NK2">
        <activity android:name=".Login"></activity>
        <activity android:name=".Register">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Admin_Beranda"></activity>
        <activity android:name=".User_Beranda"></activity>
        <activity android:name=".User_Profil"></activity>
        <activity android:name=".Admin_PengelolaanToko"></activity>
        <activity android:name=".Admin_EditToko"></activity>
    </application>

</manifest>